* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  height: 100vh;
}

header {
  text-align: center;
}

.gameCanvas{
  display: block;
  margin: auto;
}

.container {
  margin: auto;
  text-align: center;
  justify-content: center;
}

.info {
  display: flex;
  padding: 1em;
  margin: auto;
  justify-content: center;
}

.info>* {
  margin-inline: 1em;
}

.controls {
  display: flex;
  justify-content: center;
}

.controls > * {
  margin-inline: 1em;
  padding: 0.5em 1em;
}

